<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
    <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="owner" data-sortable="true">Owner</th>
        <th data-field="project_count" data-sortable="true">Pattern Count</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for row in queryset|dictsort:"name" %}
        <tr>
            <td><a data-value={{ row.name }} href="{% url 'hostmgr:detail_project' row.id %}">{{ row.name }}</a></td>
            <td><a data-value={{ row.owner.name }} href="{% url 'hostmgr:detail_owner' row.owner.id %}">{{ row.owner }}</a></td>
            <td>
            {% with row.pattern_set.count as count %}
                <a data-value={{ count }} href="{% url 'hostmgr:list_patterns' %}?project__name={{ row.name }}&page_description={{ row.name }}">{{ count }}</a>
            {% endwith %}
            </td>
            <!-- actions -->
            <td>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
