/*
The card group animation requires query and the following script:

    <script language="Javascript">
        $( document ).ready(function() {

            $("div.card-group-item").hover(function() {
                $(this).toggleClass('scale-up').siblings().toggleClass('scale-down')
            })
        });
    </script>

*/


.card-group-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-group-item {
    border: .25px solid var(--secondary);
    transition: all 0.25s ease-in;
    background-color: var(--light);
    box-shadow: 3px 3px 3px var(--secondary);
}
.card-group-item .icon {
    color: var(--primary);
}
.card-group-item .title {
    color: var(--primary);
}
.card-group-item .description {
    color: var(--secondary);
    margin-top: 25px;
}
.index-card {
    text-align: center;
    width: 350px;
    height: 180px;
    margin: 10px;
}

.action-card {
    text-align: center;
    width: 150px;
    height: 120px;
    margin: 10px;
}

.dash-summary-card {
    width: 250px;
    height: 100px;
    margin: 10px;
}

/*.owner-card {*/
    /*min-width: 100%;*/
    /*height: 80px;*/
    /*!*margin: 10px;*!*/
/*}*/


.scale-up {
    transform: scale(1.2);
    box-shadow: none;
}
.scale-down {
    transform: scale(0.8);
    filter: blur(2px);
    opacity: 0.8;
    background-color: lightgrey !important;
}
