<!-- hostmgr nav -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        APIs
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="/hostmgr/api/v1">Developer Tools</a></li>
        <li><a class="dropdown-item" href="/swagger"><small>Documentation (Swagger)</small></a></li>
        <li><a class="dropdown-item" href="">API Guide</a></li>
    </ul>
</li>
