<!-- hostmgr nav -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Self-Service
    </a>
{#    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
{#        <li><a class="dropdown-item" href="">Self-Service</a></li>#}
{#        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Projects</a>#}
{#            <ul class="dropdown-menu">#}
{#                <li><a class="dropdown-item" href="{% url 'hostmgr:list_projects' %}">All Projects</a></li>#}
{#                <li><a class="dropdown-item" href="">My Projects</a></li>#}
{#            </ul>#}
{#        </li>#}
{##}
{#        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Hosts</a>#}
{#            <ul class="dropdown-menu">#}
{#                <li><a class="dropdown-item" href="">Locked Hosts</a></li>#}
{#                <li><a class="dropdown-item" href="">My Hosts</a></li>#}
{#            </ul>#}
{#        </li>#}
{##}
{#        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Owners</a>#}
{#            <ul class="dropdown-menu">#}
{#                <li><a class="dropdown-item" href="{% url 'hostmgr:list_owners' %}">List Owners</a></li>#}
{#            </ul>#}
{#        </li>#}
{#    </ul>#}
</li>
