{% extends base_template|default:"base.htm" %}
{% load staticfiles %}

{% block local_head %}
    {% include 'component/chart_components.htm' %}
    {% include 'component/table_components.htm' %}
    <link href="{% static 'nexthost/css/nexthost_dashboard.css' %}" rel="stylesheet">
{% endblock local_head %}


{% block content %}
<div class="container-fluid mb-4 animated fadeIn">
    <h1><span class="text-primary"><b>Pattern: </b></span><span class="text-secondary"><small>{{ object.name }}</small></span></h1><br/>
</div>


<!-- hostname counts -->
<section class="animated fadeIn" style="animation-delay: .25s;">
    <div class="container-fluid mb-5">

        <div class="card-deck">

            <div class="card shadow1 bg-light">
                <div class="card-body text-center">
                    <div class="btn-group float-left">
                        <div class="h2"><i class="fas fa-check-circle"></i></div>
                    </div>
                    <div class="text-right"><h1><b>{{ object.get_available_hostnames.count }}</b></h1> {{ object.if }}</div>
                    <div class="text-left mt-3 mb-n3"><small>
                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?pattern__id={{ object.id }}&status=available&page_description=Available">Hostnames Available</a>
                    </small></div>
                </div>
            </div>

            <div class="card shadow1 bg-light">
                <div class="card-body text-center">
                    <div class="btn-group float-left">
                        <div class="h2"><i class="fas fa-stop-circle"></i></div>
                    </div>
                    <div class="text-right"><h1><b>{{ object.get_assigned_hostnames.count }}</b></h1></div>
                    <div class="text-left mt-3 mb-n3"><small>
                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?pattern__id={{ object.id }}&&status=assigned&page_description=Assigned">Hostnames Assigned</a>
                    </small></div>
                </div>
            </div>

            <div class="card shadow1 bg-light">
                <div class="card-body text-center">
                    <div class="btn-group float-left">
                        <div class="h2"><i class="fas fa-pause-circle"></i></div>
                    </div>
                    <div class="text-right"><h1><b>{{ object.get_reserved_hostnames.count }}</b></h1></div>
                    <div class="text-left mt-3 mb-n3"><small>
                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?pattern__id={{ object.id }}&}&status=reserved&page_description=Reserved">Hostnames Reserved</a>
                    </small></div>
                </div>
            </div>

            <div class="card shadow1 bg-light">
                <div class="card-body text-center">
                    <div class="btn-group float-left">
                        <div class="h2"><i class="fas fa-times-circle"></i></div>
                    </div>
                    <div class="text-right"><h1><b>{{ object.get_expired_hostnames.count }}</b></h1></div>
                    <div class="text-left mt-3 mb-n3"><small>
                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?pattern__id={{ object.id }}&&status=expired&page_description=Expired">Hostnames Expired</a>
                    </small></div>
                </div>
            </div>

        </div>
    </div>
    <div class="mb-3">&nbsp;</div>
</section>


<!-- list all hostnames for pattern -->
<section class="animated fadeIn" style="animation-delay: .5s;">
    <div class="container-fluid mb-5">
        {% with object.hostname_set.all as queryset %}
            {% include 'hostmgr/table/table_hostnames.htm' %}
        {% endwith %}
    </div>
</section>

    {% include 'component/modals.htm' %}
    {% include 'hostmgr/forms/form_assign_hostname.htm' %}

{% endblock content %}
