{% extends "base.htm" %}
{% load staticfiles %}
{% load user_tags %}

{% block local_head %}
    {% include 'component/card_group_components.htm' %}
{% endblock local_head %}

{% block content %}
    <section class="animated fadeIn">
        <header>
            <div class="headline text-center">
                <br/>
                <div class="container mb-5">
                    <h1 class="text-primary"><b>Welcome to <span class="text-primary">Next</span><span class="text-secondary">Host</span>!</b></h1>
                    <h5 class="text-secondary">Select an option below to continue!!</h5>
                </div>
            </div>
        </header>
    </section>

    <section class="animated fadeIn" style="animation-delay: .25s;">
        <div class="container-fluid card-group-container">
            <div class="d-flex flex-wrap align-items-center justify-content-center">

                <div class="card-group-item index-card">
                    <a href="{% url 'hostmgr:show_dashboard' %}">
                        <div class="card-body">
                            <h2 class="icon"><i class="fas fa-chart-line"></i></h2>
                            <h3 class="title">Dashboard</h3>
                            <p class="description">View counts, stats, and trends</p>
                        </div>
                    </a>
                </div>

            <div class="card-group-item index-card">
                <a href="{% url 'hostmgr:list_owners' %}">
                    <div class="card-body">
                        <h2 class="icon"><i class="fas fa-user"></i></h2>
                        <h3 class="title">Owners</h3>
                        <p class="description">List all owners</p>
                    </div>
                </a>
            </div>

            <div class="card-group-item index-card">
                <a href="{% url 'hostmgr:list_projects' %}">
                    <div class="card-body">
                        <h2 class="icon"><i class="fas fa-project-diagram"></i></h2>
                        <h3 class="title">Projects</h3>
                        <p class="description">List all projects</p>
                    </div>
                </a>
            </div>

            <div class="card-group-item index-card">
                <a href="{% url 'hostmgr:list_patterns' %}">
                    <div class="card-body">
                        <h2 class="icon"><i class="fas fa-swatchbook"></i></h2>
                        <h3 class="title">Patterns</h3>
                        <p class="description">List all patterns</p>
                    </div>
                </a>
            </div>

            <div class="card-group-item index-card">
                <a href="{% url 'hostmgr:list_hostnames' %}">
                    <div class="card-body">
                        <h2 class="icon"><i class="fas fa-server"></i></h2>
                        <h3 class="title">Hostnames</h3>
                        <p class="description">List all hostnames</p>
                    </div>
                </a>
            </div>

            {% if request.user|has_group:"admins" %}
            <div class="card-group-item index-card">
                <a href="{% url 'hostmgr:show_admin_panel' %}">
                    <div class="card-body">
                        <h2 class="icon"><i class="fas fa-id-badge"></i></h2>
                        <h3 class="title">Admin Panel</h3>
                        <p class="description">Manage owners, projects, and patterns</p>
                    </div>
                </a>
            </div>
            {% endif %}

            {% if request.user.is_superuser %}
            <div class="card-group-item index-card">
                <a href="/admin">
                    <div class="card-body">
                        <h2 class="icon"><i class="fab fa-python"></i></h2>
                        <h3 class="title">Django Console</h3>
                        <p class="description">Access the django administrator console</p>
                    </div>
                </a>
            </div>
            {% endif %}

        </div>
    </div>

</section>

{% endblock content %}