
<br>
<div class="container-fluid">
    <table class="table table-condensed table-bordered table-striped">
        <col width="20%">
        <col width="80%">
        <tbody>
            <tr>
                <td><b>Owner</b></td>
                <td>{{ object.pattern.project.owner }}</td>
            </tr>
            <tr>
                <td><b>Project</b></td>
                <td>{{ object.pattern.project }}</td>
            </tr>
            <tr>
                <td><b>Pattern</b></td>
                <td>{{ object.pattern }}</td>
            </tr>
            <tr>
                <td><b>Asset ID</b></td>
                <td>{{ object.asset_id }}</td>
            </tr>
            <tr>
                <td><b>Asset ID Type</b></td>
                <td>{{ object.asset_id_type }}</td>
            </tr>
            <tr>
                <td><b>Persistent</b></td>
                <td>{{ object.persistent }}</td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td>{{ object.status }}</td>
            </tr>
            <tr>
                <td><b>Created at</b></td>
                <td>{{ object.created_at }}</td>
            </tr>
            <tr>
                <td><b>Updated at</b></td>
                <td>{{ object.updated_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
