<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
    <tr>
        <th data-field="hostname" data-sortable="true">Hostname</th>
        <th data-field="status" data-sortable="true">Status</th>
        <th data-field="project" data-sortable="true">Project</th>
        <th data-field="owner" data-sortable="true">Owner</th>
        <th data-field="updated_at" data-sortable="true">Updated At</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for row in queryset %}
        <tr>
            <td>{{ row.hostname }}</td>
            <td>{{ row.status }}</td>
            <td><a data-value={{ row.pattern.project.name }} href="{% url 'hostmgr:detail_project' row.pattern.project.id %}">{{ row.pattern.project }}</a></td>
            <td>{{ row.pattern.project.owner }}</td>
            <td>{{ row.updated_at|date:'Y-m-d H:i:s' }}</td>
            <!-- actions -->
            <td>
                <!-- view details -->
                <!-- view audit log -->
                <!-- reserve/assign/extend/release -->
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
