<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
        <tr>
            <th data-field="hostname" data-sortable="true">Hostname</th>
            <th data-field="status" data-sortable="true">Status</th>
            <th data-field="project" data-sortable="true">Project</th>
            <th data-field="owner" data-sortable="true">Owner</th>
            <th data-field="updated_at" data-sortable="true">Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for row in queryset %}
        <tr>
            <td>{{ row.hostname }}</td>
            <td>{{ row.status }}</td>
            <td>
                <a data-value={{ row.pattern.project.name }} href="{% url 'hostmgr:detail_project' row.pattern.project.id %}">{{ row.pattern.project }}</a>
            </td>
            <td>
                <a data-value="{{ row.pattern.project.owner }}" href="{% url 'hostmgr:detail_owner' row.pattern.project.owner.id %}">{{ row.pattern.project.owner }}</a>
            </td>
            <td>{{ row.updated_at|date:'Y-m-d H:i:s' }}</td>
            <!-- actions -->
            <td>
                <!-- view host details -->
                <a href="#" title="view hostname details"
                   onClick="showInfo('{% url "hostmgr:get_hostname_details" %}', '{{ row.id }}', 'Details: <small><i>{{ row.hostname }}</i></small>', true);"
                   role="button" data-toggle="tooltip" data-placement="left">
                    <i class="fa fa-info-circle fa-fw text-primary ml-1"></i>
                </a>

                <!-- view audit log -->
                <a href="#" class="" title="view audit log"
                   onClick="showInfo('{% url "hostmgr:get_hostname_auditlog" %}', '{{ row.hostname }}', 'Audit Log: <small><i>{{ row.hostname }}</i></small>', 'xl');"
                   role="button" data-toggle="tooltip" data-placement="left">
                    <i class="fa fa-history fa-fw"></i>
                </a>

                <!-- reserve/assign/extend/release -->
                {% if row.status  == 'available' %}
                    <!-- reserve hostname -->
                    <a href="#" title="reserve hostname" role="button" data-toggle="tooltip" data-placement="left"
                       onClick="confirmAction('{% url 'hostmgr:reserve_hostname' %}?id={{ row.id }}', 'Reserve Hostname', 'This will set <b><i>{{ row.hostname }}</i></b> to reserved. Do you wish to continue?', 'Continue', 'POST');">
                        <i class="fas fa-pause-circle text-primary ml-1"></i>
                    </a>
                    <!-- assign hostname -->
                    <a href="#" title="assign hostname" role="button" data-toggle="tooltip" data-placement="left"
                       onClick="AssignHostname('{% url 'hostmgr:assign_hostname' %}?id={{ row.id }}', 'Assign Hostname: {{ row.hostname }} ', 'Assign');">
                        <i class="fas fa-stop-circle text-primary ml-1"></i>
                    </a>

                {% elif row.status  == 'assigned' %}
                    <!-- release hostname -->
                    <a href="#" title="release hostname" role="button" data-toggle="tooltip" data-placement="left"
                       onClick="confirmAction('{% url 'hostmgr:release_hostname' %}?id={{ row.id }}', 'Release Hostname', 'This will release the assignment on <b><i>{{ row.hostname }}</i></b>. Do you wish to continue?', 'Continue', 'POST');">
                        <i class="fas fa-check-circle text-primary ml-1"></i>
                    </a>

                {% elif row.status  == 'reserved' %}
                    <!-- assign hostname -->
                    <a href="#" title="assign hostname" role="button" data-toggle="tooltip" data-placement="left"
                       onClick="AssignHostname('{% url 'hostmgr:assign_hostname' %}?id={{ row.id }}', 'Assign Hostname: {{ row.hostname }} ', 'Assign');">
                        <i class="fas fa-stop-circle text-primary ml-1"></i>
                    </a>
                    <!-- release hostname -->
                    <a href="#" title="release hostname" role="button" data-toggle="tooltip" data-placement="left"
                       onClick="confirmAction('{% url 'hostmgr:release_hostname' %}?id={{ row.id }}', 'Release Hostname', 'This will release the assignment on <b><i>{{ row.hostname }}</i></b>. Do you wish to continue?', 'Continue', 'POST');">
                        <i class="fas fa-check-circle text-primary ml-1"></i>
                    </a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
