{% extends "base.htm" %}
{% load staticfiles %}
{% load user_tags %}

{% block local_head %}
    {% include 'component/card_group_components.htm' %}
{% endblock local_head %}

{% block content %}
    <section class="animated fadeIn">
        <header>
            <div class="headline text-center">
                <br/>
                <div class="container mb-5">
                    <h1 class="text-primary"><b>Next<span class="text-secondary">Host</span> Administer Panel</b></h1>
                    <h5 class="text-secondary">&nbsp;</h5>

                </div>
            </div>
        </header>
    </section>

    <section class="animated fadeIn" style="animation-delay: .25s;">
{#        <div class="container-fluid card-group-container">#}
            <div class="d-flex flex-wrap align-items-center justify-content-center">

                <div class="card-group-item action-card">
                    <a href="#" data-toggle="modal" data-target="#modal_{{ form_add_owner.modal_name }}">
                        <div class="card-body">
                            <h2 class="icon"><i class="fas fa-user"></i></h2>
                            <p class="title mt-3">Add owner</p>
                        </div>
                    </a>
                </div>

                <div class="card-group-item action-card">
                    <a href="#" data-toggle="modal" data-target="#modal_{{ form_add_project.modal_name }}">
                        <div class="card-body">
                            <h2 class="icon"><i class="fas fa-project-diagram"></i></h2>
                            <p class="title mt-3">Add project</p>
                        </div>
                    </a>
                </div>

                <div class="card-group-item action-card">
                    <a href="#" data-toggle="modal" data-target="#modal_{{ form_add_pattern.modal_name }}">
                        <div class="card-body">
                            <h2 class="icon"><i class="fas fa-swatchbook"></i></h2>
                            <p class="title mt-3">Add pattern</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </section>

    {% with form_add_owner as form_data %}
        {% include 'generic/generic_modal_form.htm' %}
    {% endwith %}

    {% with form_add_project as form_data %}
        {% include 'generic/generic_modal_form.htm' %}
    {% endwith %}

    {% with form_add_pattern as form_data %}
        {% include 'generic/generic_modal_form.htm' %}
    {% endwith %}

    {% include 'component/modals.htm' %}

{% endblock content %}