{% extends "base.htm" %}
{% load staticfiles %}
{% load user_tags %}

{% block local_head %}
    {% include 'handyhelpers/component/zoom_cards.htm' %}
{% endblock local_head %}

{% block content %}
    <section class="animated fadeIn">
        <header>
            <div class="headline text-center">
                <br/>
                <div class="container mb-5">
                    <h1 class="text-primary"><b>Next<span class="text-secondary">Host</span> Administer Panel</b></h1>
                    <h5 class="text-secondary">&nbsp;</h5>
                </div>
            </div>
        </header>
    </section>

    <section class="animated fadeIn" style="animation-delay: .25s;">
        <div class="zoom-card-flex-container">

            <a href="#" class="zoom-card zoom-admin-card" data-toggle="modal" data-target="#modal_{{ form_add_owner.modal_name }}">
                <div class="icon"><i class="fas fa-user"></i></div>
                <div class="title">Add owner</div>
            </a>

            <a href="#" class="zoom-card zoom-admin-card" data-toggle="modal" data-target="#modal_{{ form_add_project.modal_name }}">
                <div class="icon"><i class="fas fa-project-diagram"></i></div>
                <div class="title">Add project</div>
            </a>

            <a href="#" class="zoom-card zoom-admin-card" data-toggle="modal" data-target="#modal_{{ form_add_pattern.modal_name }}">
                <div class="icon"><i class="fas fa-swatchbook"></i></div>
                <div class="title">Add pattern blah blah</div>
            </a>

        </div>

    </section>

    {% with form_add_owner as form_data %}
        {% include 'handyhelpers/generic/generic_modal_form.htm' %}
    {% endwith %}

    {% with form_add_project as form_data %}
        {% include 'handyhelpers/generic/generic_modal_form.htm' %}
    {% endwith %}

    {% with form_add_pattern as form_data %}
        {% include 'handyhelpers/generic/generic_modal_form.htm' %}
    {% endwith %}

    {% include 'handyhelpers/component/modals.htm' %}

{% endblock content %}