{% extends base_template|default:"base.htm" %}
{% load staticfiles %}

{% block local_head %}
    {% include 'component/chart_components.htm' %}
    <link href="{% static 'nexthost_dashboard.css' %}" rel="stylesheet">
{% endblock local_head %}

{% block content %}
<div class="container-fluid text-center mb-5 animated fadeIn">
    <h1><b><span class="text-primary">Next</span><span class="text-secondary">Host</span></b></h1>
</div>


<section class="animated fadeIn" style="animation-delay: .25s;">
    <div class="container-fluid mb-5">
        <div class="row">
            <!-- project/pattern/hostname counts -->
            <div class="col-sm-12 col-md-4 col-lg-4">

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card shadow1 bg-light">
                            <div class="card-body text-center">
                                <div class="btn-group float-left">
                                    <div class="h1"><i class="fas fa-user"></i></div>
                                </div>
                                <div class="text-right h1"><b>{{ owners.count }}</b></div>
                                <div class="text-left mt-2 mb-n3"><small>
                                    <a class="hvr-grow" href="{% url 'hostmgr:list_owners' %}">Owners</a>
                                </small></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card shadow1 bg-light">
                            <div class="card-body text-center">
                                <div class="btn-group float-left">
                                    <div class="h1"><i class="fas fa-project-diagram"></i></div>
                                </div>
                                <div class="text-right h1"><b>{{ projects.count }}</b></div>
                                <div class="text-left mt-2 mb-n3"><small>
                                    <a class="hvr-grow" href="{% url 'hostmgr:list_projects' %}">Projects</a>
                                </small></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card shadow1 bg-light">
                            <div class="card-body text-center">
                                <div class="btn-group float-left">
                                    <div class="h1"><i class="fas fa-swatchbook"></i></div>
                                </div>
                                <div class="text-right h1"><b>{{ patterns.count }}</b></div>
                                <div class="text-left mt-2 mb-n3"><small>
                                    <a class="hvr-grow" href="{% url 'hostmgr:list_patterns' %}">Patterns</a>
                                </small></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card shadow1">
                            <div class="card-body text-center">
                                <div class="btn-group float-left">
                                    <div class="h1"><i class="fas fa-server"></i></div>
                                </div>
                                <div class="text-right h1"><b>{{ hostnames_all.count }}</b></div>
                                <div class="text-left mt-2 mb-n3"><small>
                                    <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}">Hostnames</a>
                                </small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- hostname usage break-down -->
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="card shadow1 hostname_activity_card bg-light">
                            <div class="card-body text-center">
                                <div class="chart-container">
                                    <canvas id="project_activity_chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-sm-0">
                    <div class="col-12">
                        <div class="card-deck">

                            <div class="card shadow1 bg-light">
                                <div class="card-body text-center mt-n2">
                                    <div class="btn-group float-left">
                                        <div class="h4 ml-n2"><i class="fas fa-check-circle"></i></div>
                                    </div>
                                    <div class="text-right mr-n2"><h5><b>{{ hostnames_available.count }}</b></h5></div>
                                    <div class="text-left mt-3 mb-n3 ml-n2 mr-n3" style="font-size: smaller"><small>
                                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?status=available&page_description=Available">Hosts Available</a>
                                    </small></div>
                                </div>
                            </div>

                            <div class="card shadow1 bg-light">
                                <div class="card-body text-center mt-n2">
                                    <div class="btn-group float-left">
                                        <div class="h4 ml-n2"><i class="fas fa-stop-circle"></i></div>
                                    </div>
                                    <div class="text-right mr-n2"><h5><b>{{ hostnames_assigned.count }}</b></h5></div>
                                    <div class="text-left mt-3 mb-n3 ml-n2 mr-n3" style="font-size: smaller"><small>
                                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?status=assigned&page_description=Assigned">Hosts Assigned</a>
                                    </small></div>
                                </div>
                            </div>

                            <div class="card shadow1 bg-light">
                                <div class="card-body text-center mt-n2">
                                    <div class="btn-group float-left">
                                        <div class="h4 ml-n2"><i class="fas fa-pause-circle"></i></div>
                                    </div>
                                    <div class="text-right mr-n2"><h5><b>{{ hostnames_reserved.count }}</b></h5></div>
                                    <div class="text-left mt-3 mb-n3 ml-n2 mr-n3" style="font-size: smaller"><small>
                                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?status=reserved&page_description=Reserved">Hosts Reserved</a>
                                    </small></div>
                                </div>
                            </div>

                            <div class="card shadow1 bg-light">
                                <div class="card-body text-center mt-n2">
                                    <div class="btn-group float-left">
                                        <div class="h4 ml-n2"><i class="fas fa-times-circle"></i></div>
                                    </div>
                                    <div class="text-right mr-n2"><h5><b>{{ hostnames_expired.count }}</b></h5></div>
                                    <div class="text-left mt-3 mb-n3 ml-n2 mr-n3" style="font-size: smaller"><small>
                                        <a class="hvr-grow" href="{% url 'hostmgr:list_hostnames' %}?status=expired&page_description=Expired">Hosts Expired</a>
                                    </small></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- chartjs script -->
<script>
    var style = getComputedStyle(document.body);
    var theme = {};
    theme.primary = style.getPropertyValue('--primary');
    theme.secondary = style.getPropertyValue('--secondary');
    theme.success = style.getPropertyValue('--success');
    theme.info = style.getPropertyValue('--info');
    theme.warning = style.getPropertyValue('--warning');
    theme.danger = style.getPropertyValue('--danger');
    theme.light = style.getPropertyValue('--light');
    theme.dark = style.getPropertyValue('--dark');

    new Chart(document.getElementById("project_activity_chart"), {
        type: 'line',
        data: {
            {#labels: [0,1,2,3,4,5,6,7,8,9,10,11,12],#}
            labels: [{% for k in trend_hostnames_assigned.keys %} {{ k }}, {% endfor %}],
            datasets: [{
                {#data: [345,23,86,114,106,106,213,107,111,133,221,378,247],#}
                data: [{% for i in trend_hostnames_assigned.values %} {{ i }}, {% endfor %}],
                label: "Assigned",
                borderColor: theme.primary,
                fill: true
            }, {
                {#data: [282,106,213,107,350,411,348,324,423,327,309,278,255],#}
                data: [{% for i in trend_hostnames_reserved.values %} {{ i }}, {% endfor %}],
                label: "Reserved",
                borderColor: theme.warning,
                fill: true
            }, {
                {#data: [168,170,178,106,213,107,190,203,276,408,447,475,434],#}
                data: [{% for i in trend_hostnames_available.values %} {{ i }}, {% endfor %}],
                label: "Released",
                borderColor: theme.secondary,
                fill: true
            }, {
                {#data: [40,20,10,16,24,38,74,106,213,107,167,408,484],#}
                data: [{% for i in hostnames_expired.values %} {{ i }}, {% endfor %}],
                label: "Expired",
                borderColor: theme.danger,
                fill: true
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Hostname Activity (past 12hrs)',
                position: 'top'
            },
            maintainAspectRatio: false,
            legend: {
                position: 'bottom'
            }
        }
    });
</script>



{% endblock content %}
